<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="wassup.Properties.Settings.ConnectionStringfirst"
            connectionString="TNS_ADMIN=C:\Users\parth\Oracle\network\admin;USER ID='&quot;C##PARTH&quot;';PASSWORD=oracle;DATA SOURCE=127.0.0.1:1521/ORCL;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>